h1, h3{
    text-align: center;
}
body{
    background-color: rgba(153, 205, 50, 0.534);
    color: rgb(00, 64, 0);
}
a:link {
    color: #006400; 
}
a:visited {
    color: #006400;
}
a:hover {
    color: #006400; 
}
a:active {
    color: #006400; 
}

td{
    border: 1px solid black;
}

#button_sg{
    text-align: center;
}
#button_rg{
    margin-top: 20px;
    text-align: center;
    display: none;
}
#game, #button_cn{
    display: none;
    text-align: center;
}
#bigger, #smaller, #win{
    text-align: center;
    color: red;
    display: none;
}
#game_img_div, #game_img{
    text-align: center;
    height: 500px;
}
#mini_menu{
    text-align: left;
    background-color: rgba(153, 205, 50, 0.534);
    position: fixed;
}